$colorBG: #a5a5a5;
$colorTXT: rgb(44, 44, 44);
$colorBTN: rgb(202, 202, 202);
$colorHVR: #8d8d8d;
$colorSHDW: #525252;
$colorBRD: #000000;
$marginBTM: 40px;
$radius: 8px;
$duration: 0.3s;
$bezier: cubic-bezier(0, 0, 0.43, 1.49);
$widthBTN: 6rem;
$heightBTN: 3.5rem;
